.form {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
  justify-content: center;
}

.input {
  padding: 5px 10px;
  border-radius: 10px;
  border: 1px solid #ccc;
  width: 200px;
}

.button {
  padding: 5px 15px;
  border-radius: 10px;
  border: none;
  background-color: #4facfe;
  color: white;
  font-weight: bold;
  cursor: pointer;
  transition: background 0.3s;
}

.button:hover {
  background-color: #00f2fe;
}
